<section class="section-padding ash-white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading ">
                    <h2 class="section-title text-center" >About  <span class="base-color">CISA</span> </h2>
            
                    <p>The Community Initiative for a Safer Africa (CISA) is a not for profit,
                      think-tank and promoter of security solutions using modern technology.
                      Security technology here refers primarily to the knowledge and collection of skills,
                      methods, processes used in the production of security tools,
                      and services or in the accomplishment of security objectives.</p>

                      <p> CISA births local chapters in various cities across Africa,
                          and has created Community Initiative for a Safer Lagos (CISL).

                          CISL is made up of concerned citizens and professionals in Lagos who are willing to
                          commit skills, experience and resources to improve community safety.
                    </p>
                    <div class="section-heading-separator"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
              <%= render 'home/about/our_belief' %>
            </div>
            <div class="col-md-4">
              <%= render 'home/about/membership' %>
            </div>
            <div class="col-md-4">
                <%= render 'home/about/our_scope' %>
            </div>
        </div>
        <div class="section-heading-separator"></div>

        <div class="row">
            <div class="col-md-12">
              <%= render 'home/about/objectives' %>
            </div>
            <div class="col-md-12">
                <%= render 'home/about/how_we_operate' %>
            </div>
        </div>
    </div>
</section>
