<div data-scroll-index="0" id="rev_slider_1052_1_wrapper" class="all-text-white rev_slider_wrapper fullscreen-container" data-alias="web-product-dark122" data-source="gallery">
   <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
       <div id="rev_slider_1052_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.0.2">
   <ul>	<!-- SLIDE  -->

     <% @slides.each_with_index do |slide, index|%>
     <li data-index="rs-2948<%= index %>" data-transition="fade" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" >
         <!-- MAIN IMAGE -->
         <%= image_tag(slide.banner.url, data: {bgposition: "center center",bgfit: "cover", bgrepeat: "no-repeat"  }, class: "rev-slidebg") %>
         <!-- <img src="images/slider/2.jpg" alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina> -->
         <!-- LAYERS 1-->
         <div class="tp-caption tp-resizeme"
              id="slide-2948-layer-7"
             data-x="['middle','middle','middle','middle']"
             data-hoffset="['-237','-217',0,'0']"
             data-y="['middle','middle','middle','middle']"
             data-voffset="['-60','-60','-60','-60']"
             data-fontsize="['48','48','48','30']"
             data-lineheight="['60','60','50','30']"
             data-width="['710','710','none','none']"
             data-height="none"
             data-whitespace="wrap"
             data-type="text"
             data-responsive_offset="on"
             data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
             data-textAlign="['left','left','center','center']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]"
             ><span class="slider-title"><%= slide.caption.html_safe %> </span>
          </div>
         <!-- LAYER NR. 2 -->
         <div class="tp-caption tp-resizeme slider-sub-heading-wrap"
             id="slide-2948-layer-10"
             data-x="['middle','middle','middle','middle']"
             data-hoffset="['-237','-217',0,'0']"
             data-y="['middle','middle','middle','middle']"
             data-voffset="['100','100','100','60']"
             data-fontsize="['15','15','15','15']"
             data-lineheight="['24','24','24','24']"
             data-width="['710','710','510','300']"
             data-height="none"
             data-whitespace="wrap"
             data-type="text"
             data-responsive_offset="on"
             data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1250,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
             data-textAlign="['left','left','center','center']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]">
             <span class="slider-sub-heading"><%= slide.rider.html_safe %> </span>
          </div>
         <!-- LAYER NR. 3 -->

         <!-- LAYER NR. 4 -->
         <div class="tp-caption  tp-resizeme slider-button"
             id="slide-2948-layer-8"
             data-x="['middle','middle','middle','middle']"
             data-hoffset="['-225','-147',0,'0']"
             data-y="['middle','middle','middle','middle']"
             data-voffset="['195','185','175','175']"
             data-width="['710','710','none','none']"
             data-height="['48','48','48','48']"
             data-whitespace="nowrap"
             data-type="text"
             data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2947","delay":""}]'
             data-responsive_offset="on"
             data-responsive="off"
             data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'
             data-textAlign="['left','left','center','center']"
             data-paddingtop="[0,0,0,0]"
             data-paddingright="[0,0,0,0]"
             data-paddingbottom="[0,0,0,0]"
             data-paddingleft="[0,0,0,0]" >

              <%= link_to 'Donate Now', cisa_programs_path, style: "margin-left:15px;", class:"btn" %>
         </div>
     </li>
     <% end %>
  

   </ul>
   <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER -->
