<div class="fund-events">
    <div class="fund-event">
        <div class="fund-event__date">
            <span class="fund-event__day base-color">17</span>
            <span class="small-text nv-color">Feb - 2018</span>
        </div>
        <div class="fund-event__main">
            <div class="fund-event__image-content">
                <div class="fund-event__image-wrap">
                  <%= image_tag('events/1.jpg', class: 'fund-event__image', alt: "") %>
                </div>
                <div class="fund-event__text-content">
                    <h4 class="fund-event__title"><a href="#">GET VOLUNTEER IDEA FESTIVAL 2017</a></h4>
                    <div class="fund-event__time">
                        <i class="fa fa-calendar fund-event__icon base-color"></i>Feb 11, 2018 08:00 AM to Jun 25, 2018 12:00 PM
                    </div>
                    <div class="fund-event__address">
                        <i class="fa fa-map-marker fund-event__icon base-color"></i>South Africa
                    </div>
                    <div class="fund-event__ticket-price">
                        <i class="fa fa-ticket fund-event__icon base-color"></i>$80
                    </div>
                </div>
            </div>
            <p>Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits. </p>
        </div>
    </div><!--/.fund-event-->
    <div class="fund-event">
        <div class="fund-event__date">
            <span class="fund-event__day base-color">17</span>
            <span class="small-text nv-color">Feb - 2018</span>
        </div>
        <div class="fund-event__main">
            <div class="fund-event__image-content">
                <div class="fund-event__image-wrap">
                  <%= image_tag('events/2.jpg', class: 'fund-event__image', alt: "") %>
                </div>
                <div class="fund-event__text-content">
                    <h4 class="fund-event__title"><a href="#">MAKE DONATION DAY FOR ALL PEOPLE</a></h4>
                    <div class="fund-event__time">
                        <i class="fa fa-calendar fund-event__icon base-color"></i>Feb 11, 2018 08:00 AM to Jun 25, 2018 12:00 PM
                    </div>
                    <div class="fund-event__address">
                        <i class="fa fa-map-marker fund-event__icon base-color"></i>South Africa
                    </div>
                    <div class="fund-event__ticket-price">
                        <i class="fa fa-ticket fund-event__icon base-color"></i>$80
                    </div>
                </div>
            </div>
            <p>Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits.</p>
        </div>
    </div><!--/.fund-event-->
    <div class="fund-event">
        <div class="fund-event__date">
            <span class="fund-event__day base-color">17</span>
            <span class="small-text nv-color">Feb - 2018</span>
        </div>
        <div class="fund-event__main">
            <div class="fund-event__image-content">
                <div class="fund-event__image-wrap">
                  <%= image_tag('events/3.jpg', class: 'fund-event__image', alt: "") %>
                </div>
                <div class="fund-event__text-content">
                    <h4 class="fund-event__title"><a href="#">BIKE RACING CHARITY EEVENT 2018</a></h4>
                    <div class="fund-event__time">
                        <i class="fa fa-calendar fund-event__icon base-color"></i>Feb 11, 2018 08:00 AM to Jun 25, 2018 12:00 PM
                    </div>
                    <div class="fund-event__address">
                        <i class="fa fa-map-marker fund-event__icon base-color"></i>South Africa
                    </div>
                    <div class="fund-event__ticket-price">
                        <i class="fa fa-ticket fund-event__icon base-color"></i>$80
                    </div>
                </div>
            </div>
            <p>Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits.</p>
        </div>
    </div><!--/.fund-event-->
    <div class="fund-event">
        <div class="fund-event__date">
            <span class="fund-event__day base-color">17</span>
            <span class="small-text nv-color">Feb - 2018</span>
        </div>
        <div class="fund-event__main">
            <div class="fund-event__image-content">
                <div class="fund-event__image-wrap">
                    <%= image_tag('events/4.jpg', class: 'fund-event__image', alt: "") %>
                </div>
                <div class="fund-event__text-content">
                    <h4 class="fund-event__title"><a href="#">GREAT LONDON CLEANUP 2018 </a></h4>
                    <div class="fund-event__time">
                        <i class="fa fa-calendar fund-event__icon base-color"></i>Feb 11, 2018 08:00 AM to Jun 25, 2018 12:00 PM
                    </div>
                    <div class="fund-event__address">
                        <i class="fa fa-map-marker fund-event__icon base-color"></i>South Africa
                    </div>
                    <div class="fund-event__ticket-price">
                        <i class="fa fa-ticket fund-event__icon base-color"></i>$80
                    </div>
                </div>
            </div>
            <p>Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits.</p>
        </div>
    </div><!--/.fund-event-->
    <div class="fund-event">
        <div class="fund-event__date">
            <span class="fund-event__day base-color">17</span>
            <span class="small-text nv-color">Feb - 2018</span>
        </div>
        <div class="fund-event__main">
            <div class="fund-event__image-content">
                <div class="fund-event__image-wrap">
                    <%= image_tag('events/5.jpg', class: 'fund-event__image', alt: "") %>
                </div>
                <div class="fund-event__text-content">
                    <h4 class="fund-event__title"><a href="#">RAISE FUNDS FOR CHILDREN </a></h4>
                    <div class="fund-event__time">
                        <i class="fa fa-calendar fund-event__icon base-color"></i>Feb 11, 2018 08:00 AM to Jun 25, 2018 12:00 PM
                    </div>
                    <div class="fund-event__address">
                        <i class="fa fa-map-marker fund-event__icon base-color"></i>South Africa
                    </div>
                    <div class="fund-event__ticket-price">
                        <i class="fa fa-ticket fund-event__icon base-color"></i>$80
                    </div>
                </div>
            </div>
            <p>Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits</p>
        </div>
    </div><!--/.fund-event-->
</div>
<div class="fund-pagination mb30">
    <a href="#" class="active">1</a>
    <a href="#">2</a>
    <a href="#" class="next">Next</a>
</div>
