    <div class="row row-eq-rs-height">
        <div class="col-sm-6 col-xs-12">
            <div class="blog-post">
                <div class="blog-post__thumbnail-wrap">
                    <%= image_tag('blog/blog-1.jpg', alt: 'blog') %>
                    <div class="blog-post__like-comment">
                        <span><i class="fa fa-comments"></i>22 Comment</span>
                        <span>|</span>
                        <span><i class="fa fa-thumbs-up"></i>105 Likes</span>
                    </div>
                </div>
                <div class="blog-post__text-content">
                    <h4 class="blog-post__title heading-label-four"><a href="#">EDUCATION FOR CHILDREN</a></h4>
                    <div class="blog-post__meta-info">
                        <span class="small-text"><i class="fa fa-user base-color"></i>Admin</span>
                        <span class="small-text"><i class="fa fa-calendar base-color"></i>25 January</span>
                    </div>
                    <p>Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits.</p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div><!--/.blog-post-->
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="blog-post">
                <div class="blog-post__thumbnail-wrap">
                    <%= image_tag('blog/blog-2.jpg', alt: 'blog') %>
                    <div class="blog-post__like-comment">
                        <span><i class="fa fa-comments"></i>22 Comment</span>
                        <span>|</span>
                        <span><i class="fa fa-thumbs-up"></i>105 Likes</span>
                    </div>
                </div>
                <div class="blog-post__text-content">
                    <h4 class="blog-post__title heading-label-four"><a href="#">Helping Kids Grow Up</a></h4>
                    <div class="blog-post__meta-info">
                        <span class="small-text"><i class="fa fa-user base-color"></i>Admin</span>
                        <span class="small-text"><i class="fa fa-calendar base-color"></i>25 January</span>
                    </div>
                    <p>Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits.</p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div><!--/.blog-post-->
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="blog-post">
                <div class="blog-post__thumbnail-wrap">
                    <%= image_tag('blog/blog-3.jpg', alt: 'blog') %>
                    <div class="blog-post__like-comment">
                        <span><i class="fa fa-comments"></i>22 Comment</span>
                        <span>|</span>
                        <span><i class="fa fa-thumbs-up"></i>105 Likes</span>
                    </div>
                </div>
                <div class="blog-post__text-content">
                    <h4 class="blog-post__title heading-label-four"><a href="#">Charity Cooking Event</a></h4>
                    <div class="blog-post__meta-info">
                        <span class="small-text"><i class="fa fa-user base-color"></i>Admin</span>
                        <span class="small-text"><i class="fa fa-calendar base-color"></i>25 January</span>
                    </div>
                    <p>Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits.</p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div><!--/.blog-post-->
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="blog-post">
                <div class="blog-post__thumbnail-wrap">
                    <%= image_tag('blog/blog-4.jpg', alt: 'blog') %>
                    <div class="blog-post__like-comment">
                        <span><i class="fa fa-comments"></i>22 Comment</span>
                        <span>|</span>
                        <span><i class="fa fa-thumbs-up"></i>105 Likes</span>
                    </div>
                </div>
                <div class="blog-post__text-content">
                    <h4 class="blog-post__title heading-label-four"><a href="#">Charity Cooking Event</a></h4>
                    <div class="blog-post__meta-info">
                        <span class="small-text"><i class="fa fa-user base-color"></i>Admin</span>
                        <span class="small-text"><i class="fa fa-calendar base-color"></i>25 January</span>
                    </div>
                    <p>Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits.</p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div><!--/.blog-post-->
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="blog-post">
                <div class="blog-post__thumbnail-wrap">
                    <%= image_tag('blog/blog-5.jpg', alt: 'blog') %>
                    <div class="blog-post__like-comment">
                        <span><i class="fa fa-comments"></i>22 Comment</span>
                        <span>|</span>
                        <span><i class="fa fa-thumbs-up"></i>105 Likes</span>
                    </div>
                </div>
                <div class="blog-post__text-content">
                    <h4 class="blog-post__title heading-label-four"><a href="#">Charity Cooking Event</a></h4>
                    <div class="blog-post__meta-info">
                        <span class="small-text"><i class="fa fa-user base-color"></i>Admin</span>
                        <span class="small-text"><i class="fa fa-calendar base-color"></i>25 January</span>
                    </div>
                    <p>Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits.</p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div><!--/.blog-post-->
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="blog-post">
                <div class="blog-post__thumbnail-wrap">
                    <%= image_tag('blog/blog-6.jpg', alt: 'blog') %>
                    <div class="blog-post__like-comment">
                        <span><i class="fa fa-comments"></i>22 Comment</span>
                        <span>|</span>
                        <span><i class="fa fa-thumbs-up"></i>105 Likes</span>
                    </div>
                </div>
                <div class="blog-post__text-content">
                    <h4 class="blog-post__title heading-label-four"><a href="#">Happiness is Everything</a></h4>
                    <div class="blog-post__meta-info">
                        <span class="small-text"><i class="fa fa-user base-color"></i>Admin</span>
                        <span class="small-text"><i class="fa fa-calendar base-color"></i>25 January</span>
                    </div>
                    <p>Education is the process of facilitating learning, or the acquisition of knowledge, skills, values, beliefs, and habits.</p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div><!--/.blog-post-->
        </div>
    </div>
    <div class="fund-pagination mb30">
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#" class="next">Next</a>
    </div>
