<h3>Dear Admin</h3>

<p>
 The Program named <%= @program.donation.title %> has reached its goal of <%= @program.goal %>   <br />
   <p> Amount of Money Raised <strong><%= @program.raised %></strong></p>
 <strong> <%= @program.title %></strong>
  <strong> :  </strong><%= @program.description %><br />

</p>
