
<footer class="fund-footer">
       <div class="main-footer all-text-white section-padding">
           <div class="container">
               <div class="row">
                   <div class="col-md-12">
                       <div class="main-footer__top text-center pdb10">
                           <%= link_to image_tag('home/logo.png', alt: 'logo', width:'150px',height: '100px'), "#", class: 'footer-logo' %>

                           <p>The Community Initiative for a Safer Africa (CISA)
                              is a not for profit, think-tank and promoter of security
                               solutions using modern technology. Security technology here
                               refers primarily to the knowledge and collection of skills,
                               methods, processes used in the production of security tools,
                                and services or in the accomplishment of security objectives. </p>
                       </div>
                   </div>
               </div>
               <div class="row row-eq-rs-height">
                   <div class="col-md-4 col-sm-6 col-xs-12">
                       <div class="widget widget--footer widget--userfull-link">
                           <div class="widget__heading">
                               <h4 class="widget__title">USEFULL LINKS</h4>
                           </div>
                           <div class="widget__text-content">
                               <ul>
                                   <li>Join our volunteer team.</li>
                                   <li>Read our Letest News.</li>
                                   <li>Check the upcoming Events.</li>
                                   <li>Watch Our Mission.</li>
                                   <li>Privacy & cookies policy.</li>
                               </ul>
                           </div>
                       </div><!--/.widget-->
                   </div>
                   <div class="col-md-4 col-sm-6 col-xs-12">
                       <div class="widget widget--footer widget--contact">
                           <div class="widget__heading">
                               <h4 class="widget__title">QUICK CONTACT</h4>
                           </div>
                           <div class="widget__text-content">
                               <div class="contact-way">
                                   <span class="base-bg contact-icon"><i class="fa fa-location-arrow"></i></span>
                                   <span class="contact-text">310, CBD, Abuja, Nigeria</span>
                               </div>
                               <div class="contact-way">
                                   <span class="base-bg contact-icon"><i class="fa fa-phone"></i></span>
                                   <span class="contact-text">08094251247</span>
                               </div>
                               <div class="contact-way">
                                   <span class="base-bg contact-icon"><i class="fa fa-envelope-o"></i></span>
                                   <span class="contact-text">ask@cisafrica.org</span>
                               </div>
                               <div class="social-icons pdt5">
                                   <span>Follow Us On : </span>
                                   <ul class="list-inline pdl20">
                                       <li><a href="#"><i class="fa fa-facebook"></i> </a> </li>
                                       <li><a href="#"><i class="fa fa-twitter"></i> </a> </li>
                                       <li><a href="#"><i class="fa fa-linkedin"></i> </a> </li>
                                       <li><a href="#"><i class="fa fa-instagram"></i> </a> </li>
                                       <li><a href="#"><i class="fa fa-vk"></i> </a> </li>
                                       <li><a href="#"><i class="fa fa-pinterest"></i> </a> </li>
                                   </ul>
                               </div>
                           </div>
                       </div><!--/.widget-->
                   </div>
                   <div class="col-md-4 col-sm-6 col-xs-12">
                       <div class="widget widget--footer widget--userfull-link">
                           <div class="widget__heading">
                               <h4 class="widget__title">NEWSLETTERS</h4>
                           </div>
                           <div class="widget__text-content">
                               <p>Subscribe for updates and newsletters from CISA.</p>
                               <form class="newsletter-form" method="POST" action="<%= newsletter_subscribe_path %>">
                                   <input type="email" placeholder="Your email address" class="form-control newsletter-form__input" />
                                   <input type="submit"  value="subscribe" class="btn base-bg newsletter-form__submit">
                               </form>
                           </div>
                       </div><!--/.widget-->
                   </div>
               </div>
           </div>
       </div>
       <div class="copyright-area all-text-white pdt25 pdb25">
           <div class="container">
               <div class="row">
                   <div class="col-md-6 col-sm-6">
                       <div class="copyright-text text-xs-center">
                           &copy; <%= Date.today.year %>. All Rights Reserved. Developed by <span class="base-color">Remedia</span>
                       </div>
                   </div>
                   <div class="col-md-6 col-sm-6">
                       <ul class="footer-menu text-xs-center">

                           <li><%= link_to 'About', about_cisa_path %> </li>

                           <li><%= link_to 'Terms & Conditions', terms_and_conditions_path %> </li>

                           <li><%= link_to 'Privacy Policy', privacy_policy_path %> </li>

                           <li><%= link_to 'Contact', contact_us_path %> </li>

                       </ul>
                   </div>
               </div>
           </div>
       </div>
       <a href="#" id="toTop" class="cd-top"><i class="fa fa-angle-up"></i></a>
   </footer>
